/*pertenece al footer*/
.miFooter{
    background-image: linear-gradient(to right, #E100FF,#7700ff);
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    color: rgb(165, 165, 165);
    height: 100px;


    ul  {
    width: 150px;
    list-style: none;
    display: flex;
    justify-content: space-around;

        li{
            a{
                color: rgb(165, 165, 165);

                img{
                    width: 40px;
                }
            }
        }
    }
}


/*------------ empezamos a probar mediaqueries ---------------------*/
/*para celulares*/
@media only screen and (max-width:600px) {

    /*--------- esto es el footer----------- */
    .miFooter{

        height: 70px;
        font-size: 12px;

        ul{
            width: 80px;

            li{
                a{
    
                    img{
                        width: 20px;
                    }

                }
            }
        }
    }
}
