
/*seccion de galeria*/
.menugaleria{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(5, 238, 255, 0.123), rgba(5, 238, 255, 0.13)), url("html/Otras/fondo1.jpg");
    display: grid;/*transforma al contenedor flexible*/
    grid-template-columns: 23% 23% 23% 23%;
    grid-template-rows: 400px 350px 400px;
    grid-template-areas: "imagen1 imagen2 imagen3 imagen4"
                        "imagen5 imagen6 imagen7 imagen8"
                        "imagen9 imagen10 imagen11 imagen12";
    column-gap: 10px; /*lo que hace es dar espacio entre las columnas en la grilla*/
    row-gap: 10px; /*este lo que hace es dar espacio entre las filas*/
    justify-items:center;
    align-items: center;
    justify-content:space-around;
    align-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;

    img{
        width: 100%;
        height: 100%;
        border-radius:10%;
        transition: all 2s;

        &:hover{
            border-radius:0%;
            z-index: 0;
            transform: scale(1.05);
        }
    }
}

@media only screen and (max-width:600px) {

    /*----------- esto pertenece a la galeria ---------------*/
    .menugaleria{
        display: grid;/*transforma al contenedor flexible*/
        grid-template-columns: 70%;
        grid-template-rows: 350px 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px ;
        grid-template-areas: "imagen1"
                             "imagen2"
                             "imagen3"
                             "imagen4"
                             "imagen5"
                             "imagen6"
                             "imagen7"
                             "imagen8"
                             "imagen9"
                             "imagen10"
                             "imagen11"
                             "imagen12";
        justify-items:center;
        align-items: center;
        justify-content:center;
        align-content: center;
    }
}
