@import "menu.scss";
@import "home.scss";
@import "footer.scss";
@import "galeria.scss";
@import "contacto.scss";
@import "sobreMi.scss";
@import "recetas.scss";

*{
    margin: 0;
    padding: 0;
}

/*toda la pagina*/
.bodySinScroll {
    height: 100vh;
    overflow: hidden;
}

/*cuerpo de la pagina*/
.pagina{
    height: 100vh;
    overflow: hidden;
}



    

    
    
    
